@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, we!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<img src="\images\Sidebar_GestionarIcono.svg" alt="IconoGestionar">
<img src="favicon.png" alt="e">

<Principal/>
@{
    // Buscar la imagen de esta forma es mas rapida.
    //private string icon_gestionar = Url.Content("~/wwwroot/images/Sidebar_GestionarIcono.svg");
    // IsPost
}
