@page "/PanelEditarEditorial"
@inject HttpClient Http
@using Blazored.SessionStorage;
@inject NavigationManager NavigationManager
@inject ISessionStorageService sessionStorage

<a class="Btn_salir" style=" text-decoration: none; border-radius: 4px; background-color: red; color: black; padding: 13px 14px 13px 14px;" href="Gestionar">X</a>
<hr />
<h3>Editar Editorial</h3>
<div class="container">
    <form>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" @bind="nombre">
        </div>
        <button type="button" class="btn btn-primary" @onclick="ActualizarEditorial">Actualizar Editorial</button>
    </form>
</div>

@code {

    //Datos de la editorial
    public string Id { get; set; }
    private string nombre;

    protected override async Task OnInitializedAsync()
    {
        //Obtención del ID de la editorial
        Id = await sessionStorage.GetItemAsync<string>("EditorialId");

        try
        {
            // Obtener los detalles de la editorial con el ID
            var editorial = await Http.GetFromJsonAsync<Editorial>("https://localhost:7268/api/Editorial/" + Id);

            // Asignar los valores a las variables
            nombre = editorial.nombre;
        }
        catch (Exception ex)
        {

        }
    }

    private async Task ActualizarEditorial()
    {
        try
        {
            var editorial = new Editorial
                {
                    nombre = nombre
                };

            var response = await Http.PutAsJsonAsync<Editorial>("https://localhost:7268/api/Editorial/" + Id, editorial);

            if (response.IsSuccessStatusCode)
            {
                Console.WriteLine("Se actualizó la editorial.");
                NavigationManager.NavigateTo("/Gestionar");
            }
            else
            {

            }
        }
        catch (Exception ex)
        {

        }
    }

    //Clase
    public class Editorial
    {
        public string nombre { get; set; }
    }
}
