@page "/sssd"

<div class="contenedor">
    <h2>Prestamos</h2>
    <img src="/images/Sidebar_HomeIcono.svg" alt="">
    <p>@contadorPrestamos</p>

</div>

@code {
    private int contadorPrestamos = 64;
}
