@page "/Préstamos"
@inject HttpClient Http
<link rel="stylesheet" href="css/style_buscador_a.css">
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group me-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-primary">Libro</button>
    <button type="button" class="btn btn-primary">Cliente</button>
    <button type="button" class="btn btn-primary">Autor</button>
    <button type="button" class="btn btn-primary">Fecha</button>
  </div>
</div>
<div class="input-group mb-3 mt-3 input-group-lg ">
  <span class="input-group-text" id="basic-addon1">
    <img src="/images/icon_Search.svg" class="image-fluid" alt="">
  </span>
  <input type="text" class="form-control" placeholder="@Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
<TPrestamos></TPrestamos>
@code {
  string nombre="Libor", Username="";

    void Nombre(){
      Username = nombre;
    }
}