@inject HttpClient Http
@if (FsU == null)
{
  <p><em>Cargando...</em></p>
}
else
{
  <div class="container m-0 p-3 mt-5" style="background-color:#355675; border-radius: 0.5rem;">
    <h3 class="text-center text-light">
      <strong></strong>
    </h3>
    <div style="border-radius: 0.3rem; height: 500px; overflow-y: scroll;" class="container bg-light m-0 p-0">
      <table class="table">
        <thead class="thead" style="background-color: transparent;">
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Matricula</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @foreach (var forecast in FsU)
          {
            <tr>
              
              <td>@forecast.Nombre</td>
              <td>@forecast.Apellido</td>
              <td>@forecast.Correo</td>
              <td>@forecast.Matricula</td>
              <td>
                <button type="button" class="btn btn-info btn-sm">Editar</button>
              </td>
              <td>
                <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}

@code {
  private WeatherForecast[]? FsU;
  private string Titulo = "Nombre Usuario";

  protected override async Task OnInitializedAsync()
  {
    FsU = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/DataUsuarios.json");
  }

  public class WeatherForecast
  {
    public string? Nombre { get; set; }
    public string? Apellido { get; set; }
    public string? Correo { get; set; }
    public int Matricula { get; set; }
  }

    private void CambiarTitulo(int NumeroTitulo)
  {
    switch (NumeroTitulo)
    {
      case 1:
        Titulo = "Nombre del Cliente";
        break;
      case 2:
        Titulo = "Apellido del Cliente";
        break;
      case 3:
        Titulo = "Correo";
        break;
      case 4:
        Titulo = "Matricula";
        break;
    }
  }

}