@inherits LayoutComponentBase

<link rel="stylesheet" href="/css/style_principal.css">

<body>
    <div class="wrapper">
        <aside id="sidebar">
            <!-- div class="d-flex" para agregar cosas fuera de las columnas>
            </div-->
            <ul class="sidebar-nav">
                <button class="toggle-btn" type="button">
                    <img src="Sidebar_HomeIcono.svg" alt="IconoHome"-->
                </button>

                <button class="toggle-btn" type="button">
                    <img src="Sidebar_GestionarIcono.svg" alt="IconoGestionar">
                    <p>Gestionar</p>
                </button>

                <button class="toggle-btn" type="button">
                    <img src="Sidebar_PrestamosIcono.svg" alt="IconoPrestamo">
                    <p>Prestamos</p>
                </button>

                <button class="toggle-btn" type="button">
                    <img src="Sidebar_UsuarioIcono.svg" alt="IconoUsuario">
                    <p>Usuarios</p>
                </button>

                <button class="toggle-btn" type="button">
                    <img src="Sidebar_LibrosIcono.svg" alt="IconoLibros">
                    <p>Libros</p>
                </button>

                <button class="toggle-btn" type="button">
                    <img src="Sidebar_ReportesIcono.svg" alt="IconoReportes">
                    <p>Reportes</p>
                </button>
            </ul>
            <!--div class="placeholder-sidebar-footer">
            </div-->
        </aside>
        <div class="main">
            <nav class="navbar">
                <ul class="left_elements">
                    <li>
                        <button class="navbar-collapse-btn" type="button">
                            <img src="Userbar_SidebarIcono.svg" alt="IconoSidebar"-->
                        </button>
                    </li>
                </ul>
                <ul class="right_elements">
                    
                </ul>
            </nav>

            <div class="main p-3">
                <div class="text-center">
                    <h1>
                        TextoPrueba
                    </h1>
                    <p>
                        asdasdasd
                        asdasf
                        qwe
                        wqe
                        wqef
                        asdgf
                        Sidebar_GestionarIconosdg
                        dsgd
                        <b>asdasd</b>
                        asdasd
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
