<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="sidebar-specific flex-column">
        @{
            var ElementosSidebar = new[]
            {
                new {Nombre = "", Imagen = "/images/Sidebar_HomeIcono.svg", Ref = ""},
                new {Nombre = "Gestionar", Imagen = "/images/Sidebar_HomeIcono.svg", Ref = ""},
                new {Nombre = "Prestamos", Imagen = "/images/Sidebar_PrestamosIcono.svg", Ref = ""},
                new {Nombre = "Usuarios", Imagen = "/images/Sidebar_UsuarioIcono.svg", Ref = ""},
                new {Nombre = "Libros", Imagen = "/images/Sidebar_LibrosIcono.svg", Ref = ""},
                new {Nombre = "Reportes", Imagen = "/images/Sidebar_ReportesIcono.svg", Ref = ""}
            };
            @foreach (var Elemento in ElementosSidebar)
            {
                <div class="nav-item">
                    <NavLink class="nav-link d-flex flex-column align-items-center" href=@Elemento.Ref Match="NavLinkMatch.All">
                        <img src=@Elemento.Imagen alt=@Elemento.Nombre.ToLower()>
                        <p>@Elemento.Nombre</p>
                    </NavLink>
                </div>
            }
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
