<!--link rel="stylesheet" href="\css\style_principal.css"-->
<aside id="sidebar">
    <!-- div class="d-flex" para agregar cosas fuera de las columnas>
    </div-->
    <ul class="sidebar-nav">
        <button class="toggle-btn" type="button">
            <img src="/" alt="IconoHome"-->
        </button>

        <button class="toggle-btn" type="button">
            <img src="\images\Sidebar_GestionarIcono.svg" alt="IconoGestionar">
            <p>Gestionar</p>
        </button>

        <button class="toggle-btn" type="button">
            <img src="\images\Sidebar_PrestamosIcono.svg" alt="IconoPrestamo">
            <p>Prestamos</p>
        </button>

        <button class="toggle-btn" type="button">
            <img src="\images\Sidebar_UsuarioIcono.svg" alt="IconoUsuario">
            <p>Usuarios</p>
        </button>

        <button class="toggle-btn" type="button">
            <img src="\images\Sidebar_LibrosIcono.svg" alt="IconoLibros">
            <p>Libros</p>
        </button>

        <button class="toggle-btn" type="button">
            <img src="\images\Sidebar_ReportesIcono.svg" alt="IconoReportes">
            <p>Reportes</p>
        </button>
    </ul>
    <!--div class="placeholder-sidebar-footer">
    </div-->
</aside>

@code {
    /*private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }*/
}